@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Roboto:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
}

.body{
    background: url(../image/bg.jpg);
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

#board{
    background: linear-gradient(rgb(175, 201, 175), rgb(187, 187, 137));
    border: 2px solid;
    width: 92vmin;
    height: 95vmin;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

#scoreBox{
    position: absolute;
    top:10px;
    right: 200px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Kanit', sans-serif
}

#hiscoreBox{
    position: absolute;
    top: 55px;
    right: 160px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Kanit', sans-serif
}

.head{
    background-color: rgb(236, 82, 82);
    border-radius: 10px;
    border: 2px solid rgb(32, 30, 30);
    transform: scale(1.2);
}

.snake{
    background: linear-gradient(rgb(136, 136, 190), rgb(185, 185, 201)) ;
    border: .25vmin solid black;
    border-radius: 9px;
}

.food{
    background: linear-gradient(rgb(180, 118, 118), rgb(83, 69, 69)) ;
    border-radius: 5px;
    border: .25vmin solid black;

}